@mixin buttonText($buttonColor){
  font-size: 12px;
  font-family: 'MontserratExtraBold';
  color: $buttonColor;
  text-transform: uppercase;
}

.click-buttons__container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  width: 217px;
  height: 118px;
  justify-content: space-between;
}

.click-buttons__form {
  height: 44px;
  width: 99px;
  border-radius: 22px;
  border: none;
}

.click-buttons__fill-buttons,
.click-buttons__empty-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.click-buttons__button1 {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  @include buttonText(#FFFFFF);
}

.click-buttons__button2 {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.5;
  @include buttonText(#FFFFFF);
}

.click-buttons__button3 {
  background: #FFFFFF;
  background-image: url('./button-border.svg');
  @include buttonText(#BC9CFF);
}

.click-buttons__button4 {
  background: #FFFFFF;
  background-image: url('./button-border-opacity.svg');
  @include buttonText(#BC9CFF);
}

.clickme-text {
  padding-top: 31px;
}

.clickme-text__style1 {
  @include buttonText(#BC9CFF);
}

.clickme-text__style2 {
  padding-left: 20px;
  @include buttonText(rgba(31, 32, 65, 0.5));
}