mixin nav
  nav.guest-header__nav.default-text-05 
    span.guest-header__about.default-text-075 О нас
    span.guest-header__services Услуги
    span.guest-header__vacancies Вакансии
    span.guest-header__news Новости
    span.guest-header__agreements Соглашения