div.datedropdown
  div.fields.datedropdown__input
      div.datedropdown__text
        span.designation-bold.datedropdown__span date Dropdown
      input(type="text", placeholder="ДД.ММ.ГГГГ")
  div.fields.datedropdown__input
      div.datedropdown__text
        span.designation-bold.datedropdown__span date Dropdown
      input(type="text", placeholder="19.08.2019")