div.dropdown
  div.head
    span.bold-designation.head__text  dropdown
  ul.field-dropdown 
    .field-dropdown__text 
      span.default-text-075.field-dropdown__sometext Cколько гостей
      span.field-dropdown__exp 