div.subscription
  div.head 
    span.bold-designation.head__text subscription text field
  ul.subscription-field
    .subscription-field__text 
      span.default-text-025.subscription-field__sometext Email
      span.subscription-field__exp 