

.copyright-footer
  .guest-header__logo
  span.default-text-075 Copyright © 2018 Toxin отель. Все права защищены.
  .widget-copyright-footer__icons 
    a(href="#" class="twit") 
    a(href="#" class="fsb") 
    a(href="#" class="inst") 