@import '../card-template/card-template.scss';

.booking-card{
  @include cardSize(512px,380px,1px solid rgba(0, 0, 0, 0.12),0px 0px 25px rgba(0, 0, 0, 0.2))
}
.booking-card__designation{
  font-family: 'MontserratExtraBold';
  padding: 40px 30px 0 30px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.booking-card__number-symbol{
  @include cardDesignationSpan(#1F2041,'MontserratExtraBold',uppercase,14px)
}
.booking-card__designation h1{
  padding-left: 6px;
  @include cardDesignation(24px)
}
.booking-card__room{
  padding-left: 8px;
  @include cardDesignationSpan(#BC9CFF,'MontserratExtraBold',uppercase,12px)
}
.booking-card__price{
  padding-left: 96px;
  @include cardDesignationSpan(rgba(31, 32, 65, 0.5),'MontserratExtraBold',uppercase,14px)
}
.booking-card__price-day{
  padding-left: 4px;
  @include cardDesignationSpan(rgba(31, 32, 65, 0.5),'MontserratRegular',normal,12px)
}
.booking-card__date-dropdown{
  display: flex;
  flex-direction: row;
  padding: 20px 30px 0 30px;
  justify-content: space-between;
}
.booking-card__guest-dropdown{
  padding: 20px 30px 0 30px;
}
.booking-card__main-text{
  padding: 20px 30px 0 30px;
}
.booking-card__main-text div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.booking-card__main-price{
  @include cardDesignationSpan(rgba(31, 32, 65, 0.75),'MontserratRegular',normal,14px);
  padding-bottom: 10px;
  position: relative;
}
.booking-card__left-span{
  width: 214px;
}
.booking-card__info-span{
  position: absolute;
  height: 20px;
  width: 20px;
  right: 80px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  color: rgba(31, 32, 65, 0.25);
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}
.booking-card__main-total{
  @include cardDesignationSpan(#1F2041,'MontserratExtraBold',normal,19px);
  padding-top: 20px;
  position: relative;
}
.booking-card__main-total hr{
  position: absolute;
  border:0.5px dashed rgba(31, 32, 65, 0.25);
  width: 182px;
  margin: 0;
  left: 64px;
  bottom: 4px;
}
.booking-card__booking-button{
  padding: 20px 30px 0 30px;
}