include single-checkbox-style


div.checkbox-buttons
  div.designation-bold Checkbox Buttons
  +styleChanges("checkbox-buttons__input1", "Можно курить")
  +styleChanges("checkbox-buttons__input2", "Можно с питомцами")
  +styleChanges("checkbox-buttons__input3", "Можно пригласить гостей", "(до 10 человек)")