include click-me-button-single
include ../../../blocks/pay-button/pay-button-template

div.bold-designation   buttons
div.click-buttons__container
  div.click-buttons__fill-buttons
    +clickMeButtonStyle("click-buttons__button1", "click me")
    +clickMeButtonStyle("click-buttons__button2", "click me")
  div.click-buttons__empty-buttons
    +clickMeButtonStyle("click-buttons__button3", "click me")
    +clickMeButtonStyle("click-buttons__button4", "click me")
div.clickme-text
  span.clickme-text__style1 click me
  span.clickme-text__style2 click me

