div.radio-buttons
  div.designation-bold Radio Buttons
  div.radio-buttons__inputs
    label.radio-buttons__style
      input(type="radio", name="radio", class="radio-buttons__radio")
      span.radio-checkmark
        span.radio-checkmark-snd Мужчина
    label.radio-buttons__style.radio-buttons__padding
      input(type="radio", name="radio", class="radio-buttons__radio")
      span.radio-checkmark
        span.radio-checkmark-snd Женщина    