div.head
  span.bold-designation.head__text Radio Buttons
div.gender-buttons__inputs.default-text-05
  label.gender-buttons__style
    input(type="radio", name="radio", class="gender-buttons__radio")
    span.gender-buttons__checkmark
      span.gender-buttons__checkmark-snd Мужчина
  label.gender-buttons__style.gender-buttons__padding
    input(type="radio", name="radio", class="gender-buttons__radio")
    span.gender-buttons__checkmark
      span.gender-buttons__checkmark-snd Женщина