mixin likeButton(numberLikes)
  label.like-button__style
      input(type="checkbox", class="like-button__checkbox")
      span.like-button__checkmark
        span.like-button__checkmark1 #{numberLikes}