div.like-button
  div.designation-bold like button
  div.like-button__inputs
    label.like-button__style
      input(type="checkbox", class="like-button__checkbox")
      span.like-button__checkmark
        span.like-button__checkmark1 2
    label.like-button__style.like-button__padding
      input(type="checkbox", class="like-button__checkbox")
      span.like-button__checkmark
        span.like-button__checkmark1 12