div.pagination
  div.designation-bold pagination
  div.pagination__style
    div.default-text.pagination_sheets
      a(href="#").current-sheet 1
      a(href="#").second-sheet 2
      a(href="#").thrid-sheet 3
      a(href="#").open-sheet ...
      a(href="#").last-sheet 15
      a(href="#").next-sheet15
    div.sheets-info 1 – 12 из 100+ вариантов аренды