include rate-button-stars

div.rate-button
  div.designation-bold rate button
  div.rate-button__inputs
    div.rate-button__style
      +star("rating", "star-5", "5")
      +star("rating", "star-4", "4")
      +star("rating", "star-3", "3")
      +star("rating", "star-2", "2")
      +star("rating", "star-1", "1")
    div.rate-button__style.rate-button__padding
      +star("rating1", "star-6", "5")
      +star("rating1", "star-7", "4")
      +star("rating1", "star-8", "3")
      +star("rating1", "star-9", "2")
      +star("rating1", "star-10", "1")