include rich-checkbox-style
.head
  span.bold-designation.head__text rich Checkbox Buttons
+richCheckbox("rich-checkbox__input1","Широкий коридор","Ширина коридоров в номере","не менее 91 см.")
+richCheckbox("rich-checkbox__input2","Помощник для инвалидов","На 1 этаже вас встретит специалист","и проводит до номера")
                
        