include rich-checkbox-style
div.rich-checkbox__info
  span.caption-bold rich Checkbox Buttons
+richCheckbox("rich-checkbox__input1","Широкий коридор","Ширина коридоров в номере","не менее 91 см.")
+richCheckbox("rich-checkbox__input2","Помощник для инвалидов","На 1 этаже вас встретит специалист","и проводит до номера")
                
        