//className = "name"
//discriptionSecondPart if long text
mixin styleChanges(className,discription,discriptionSecondPart)
    div(class=className)
        label.preferences-button
            input(type="checkbox", class="preferences-button__inp")
            span.preferences-button__checkmark
            span.default-text-05.preferences-button__checkmark-two=discription
                |#[br]#{discriptionSecondPart}
        
