mixin toggleTemplate(text)
  div.special-offer__toggle.default-text-075
      label.special-offer__style
        input(type="checkbox", class="special-offer__checkbox")
        span.special-offer__checkmark
          span.special-offer__second-checkmark=text