mixin richCheckbox(divClassName,boldText,underText,underTextNextPart)
  div(class=divClassName)
        label.preferences-button
            input(type="checkbox", class="preferences-button__inp")
            span.preferences-button__checkmark
            div.rich-checkbox__span-container
              span.rich-checkbox__checkmark-two #{boldText}
              span.default-text-05.rich-checkbox__under-text #{underText}
                |#[br]#{underTextNextPart}