include ../../subscription-field/subscription-field


.widget-copyright-footer__widget
  .guest-header__logo
  .widget-copyright__logo-info.default-text-075 Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
  .widget-copyright__nav.default-text-05 
    .widget-copyright__navigation 
      .bold-designation навигация
      a(href="#") О нас
      a(href="#") Новости
      a(href="#") Служба поддержки
      a(href="#") Услуги
    .widget-copyright__about 
      .bold-designation о нас
      a(href="#") О сервисе
      a(href="#") Наша команда
      a(href="#") Вакансии
      a(href="#") Инвесторы
    .widget-copyright__support 
      .bold-designation Служба поддержки
      a(href="#") Соглашения
      a(href="#") Сообщества
      a(href="#") Связь с нами
    .widget-copyright__subscription 
      .bold-designation подписка
      a(href="#") Получайте специальные предложения и новости сервиса
    +subscription
.widget-copyright-footer__copyright 
  span.default-text-075 Copyright © 2018 Toxin отель. Все права защищены.
  .widget-copyright-footer__icons 
    a(href="#" class="twit") 
    a(href="#" class="fsb") 
    a(href="#" class="inst") 