include single-checkbox-style


div.checkbox-buttons
  div.head
    span.bold-designation.head__text Checkbox Buttons
  +styleChanges("preferences-button__input1", "Можно курить")
  +styleChanges("preferences-button__input2", "Можно с питомцами")
  +styleChanges("preferences-button__input3", "Можно пригласить гостей", "(до 10 человек)")
  