
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    .cards
      header.header-icon
          .header-icon__icon
      .cards__wrapper
        .cards__wrapper__blocks
          include ../../blocks/find-room-card/find-room
          include ../../blocks/registration-card/registration-card
        .cards__wrapper__blocks1
          include ../../blocks/booking-card/booking-card
          include ../../blocks/sign-in-card/sign-in-card
        .cards__wrapper__blocks2
          include ../../blocks/calendar/calendar
          include ../../blocks/room-card/room-card
          include ../../blocks/room-card/room-card-type2