

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    header.header-icon
      .header-icon__icon
    section.upper-section
      div.upper-section__fields
        include ../layouts/layouts-fields/field-default
        include ../layouts/layouts-fields/field-hoverfocus
        include ../layouts/layouts-fields/field-dropdown
        include ../layouts/layouts-fields/field-datepicker
        include ../../blocks/date-dropdown/date-dropdown
        include ../../blocks/filter-date-dropdown/filter-date-dropdown
        include ../../blocks/subscription-field/subscription-field
      div.upper-section__rate-button
        include ../layouts/layouts-buttons/checkbox-preferences
        div.gender-buttons
          include ../layouts/layouts-buttons/gender-buttons
        div.toggle
          include ../layouts/layouts-buttons/special-offer-toggle
        div.like-button
          include ../layouts/layouts-buttons/like-button
        include ../layouts/layouts-buttons/rate-button
      div.upper-section__buttons-slider
        div.range-slider
          include ../layouts/range-slider
        div.click-buttons
          include ../layouts/layouts-buttons/click-me-buttons
        div.pay-button
          include ../../blocks/pay-button/pay-button-template
          +payButton("перейти к оплате")
        div.pagination
          include ../layouts/layouts-buttons/pagination
    section.secondary-section
      div.secondary-section__left-dropdowns
        include ../layouts/layouts-dropdowns/room-info-dropdown-block
        include ../layouts/layouts-dropdowns/conveniences-checkbox-dropdown-block
      div.secondary-section__middle
        div.secondary-section__middle-dropdowns
          include ../layouts/layouts-dropdowns/guest-dropdown-block
        div.secondary-section__middle-others
          div.rich-checkbox__container
            include ../layouts/layouts-buttons/rich-checkbox
          div.bullet-list__container
            include ../layouts/layouts-dropdowns/bullet-list
    section.footer-section
      .footer-section__left-container
        include ../layouts/layouts-dropdowns/room-details
      .footer-section__right-container
        include ../layouts/comment-block
      
