doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    include ../../blocks/HeadersFooters/guest-header/guest-header
    .landing-page__picture
      include ../../blocks/find-room-card/find-room
      .landing-page__picture-info.default-text-075 Лучшие номера для вашей работы, отдыха и просто вдохновения
    include ../../blocks/HeadersFooters/widget-copyright-footer/widget-copyright-footer