

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    section.upper-section
      div.upper-section__fields
        include ../layouts/layouts-fields/field-default
        include ../layouts/layouts-fields/field-hoverfocus
        include ../layouts/layouts-fields/field-dropdown
        include ../layouts/layouts-fields/field-datepicker
        include ../layouts/layouts-fields/field-datedropdown
        include ../layouts/layouts-fields/field-filterdate
        include ../layouts/layouts-fields/field-subscription
      div.upper-section__rate-button
        include ../layouts/layouts-buttons/checkbox-preferences
        include ../layouts/layouts-buttons/gender-buttons
        include ../layouts/layouts-buttons/special-offer-toggle
        include ../layouts/layouts-buttons/like-button
        include ../layouts/layouts-buttons/rate-button
      div.upper-section__buttons-slider
        include ../layouts/range-slider
        include ../layouts/layouts-buttons/click-me-buttons
        include ../layouts/layouts-buttons/pagination
    section.secondary-section
      div.secondary-section__left-dropdowns
        include ../layouts/layouts-dropdowns/room-info-dropdown-block
        include ../layouts/layouts-dropdowns/conveniences-checkbox-dropdown-block
      div.secondary-section__middle-dropdowns
        include ../layouts/layouts-dropdowns/guest-dropdown-block