doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    include ../../blocks/HeadersFooters/guest-header/guest-header
    .sign-in-page__picture
      include ../../blocks/sign-in-card/sign-in-card
    include ../../blocks/HeadersFooters/widget-copyright-footer/widget-copyright-footer