.comment-block__wrapper{
  width: 711px;
  display: flex;
  flex-direction: column;
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  font-family: Montserrat;
}
.comment-block__user{
  width: 278px;
  height: 48px;
  display: flex;
  flex-direction: row;
}
.comment-block__user-img{
  height: 48px;
  width: 48px;
  background-image: url(../../pictures/image.svg);
  background-position: center;
}
.comment-block__user-info{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: space-around;
}
.comment-block__user-name{
  font-weight: bold;
}
.comment-block__comment{
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  justify-content: space-between;
}
.comment-block__comment-text{
  width: 653px;
  height: 72px;
}