$fontfam: 'Montserrat';


.dropdown-expanded {
  padding-top: 0px;
}
.room-info__dropdown-expanded {
  width: 266px;
  font-family: $fontfam;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.dropdown__info-expanded{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span{
    height: 15px;
    margin-bottom: 1px;
    box-sizing: content-box;
  }
}
.caption-bold-expanded{
  color: #1F2041;
}
.caption__default-expanded{
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
}
.caption__description-expanded{
  font-size: 14px;
  font-weight: normal;
  text-transform: lowercase;
  color: rgba(31, 32, 65, 0.75);
  z-index: -1;
}
.dropdown__main-expanded {
  height: 44px;
  width: 264px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 2px 2px 0 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;

}
.selected-option-expanded {
  list-style-type: none;
  height: 32px;
  width: 249px;
  padding-left: 15px;
  padding-top: 12px;
}

.expand-more-expanded{
  width: 12px;
  height: 8px;
  padding: 18px 16px;
  top: 0px;
  right: 0px;
  position: absolute;
  content: url('../../blocks/guest-dropdown/expand_more.svg');
}
.selected-option-expanded ul{
  opacity: 0;
}
.dropdown__open-expanded {
  height: 107px;
  width: inherit;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
  padding-left: 15px;
  position: relative;
  border-radius: 0 0 2px 2px;
  top: 16px;
  right: 16px;
  list-style-type: none;
  button{
    top: 7px;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 22px;
  }
}
.dropdown__open-expanded li{
  height: 32px;
}
.dropdown__open__first-expanded{
  display: flex;
  justify-content: space-between;
  width: 92px;
  position: absolute;
  right: 7px;
  top: 7px;
}
.dropdown__open__second-expanded{
  display: flex;
  justify-content: space-between;
  width: 92px;
  top: 44px;
  right: 7px;
  position: absolute;
}
.dropdown__open__thrid-expanded{
  display: flex;
  justify-content: space-between;
  width: 92px;
  top: 81px;
  right: 7px;
  position: absolute;
}
.dropdown__open-expanded span{
  right: 50px;
  top: 12px;
}
.dropdown__open__amount-less-expanded{
  right: 70px;
}
.dropdown__open__amount-number-expanded{
  display: flex;
  align-items: center;
}
.dropdown__open__amount-more-expanded{
  right: 7px;
}