.secondary-section {
  padding-left: 140px;
  padding-top: 100px;
  display:flex;
  flex-direction: row;
}

.secondary-section__left-dropdowns {
  width: 266px;
}
.secondary-section__middle-dropdowns{
  padding-left: 181px;
  display: flex;
  flex-direction: row;
}
.guest-dropdown__container1{
  width: 320px;
}
.guest-dropdown__container2{
  width: 320px;
  padding-left: 72px;
}