.secondary-section {
  padding-left: 140px;
  padding-top: 100px;
  display:flex;
  flex-direction: row;
}
.secondary-section__left-dropdowns {
  width: 266px;
}
.secondary-section__middle{
  padding-left: 181px;
  display: flex;
  flex-direction: column;
}
.secondary-section__middle-dropdowns{
  display: flex;
  flex-direction: row;
}
.secondary-section__middle-others{
  display: flex;
  flex-direction: row;
  padding-top: 240px;
}
.guest-dropdown__container1{
  width: 320px;
}
.guest-dropdown__container2{
  width: 320px;
  padding-left: 72px;
}
.bullet-list__container{
  padding-left: 126px;
}
.footer-section__right-container{
  padding-left: 156px;
}
.room-info{
  padding-top: 20px;
}
.room-info__dropdown {
  width: 266px;
  display: flex;
  flex-direction: column;
}