@import url('../../blocks/buttons/range-slider/range-slider.scss');
@import url('../../blocks/click-me-button/click-me-buttons.css');
@import url('../../blocks/pay-button/pay-button.scss');
@import url('../../blocks/buttons/pagination/pagination.scss');

.upper-section__buttons-slider {
  width: 320px;

  padding-top: 62px;
  padding-left: 132px;
}
.range-slider {
  width: 266px;
}
.click-buttons {
  padding-top: 40px;
}
.pay-button {
  padding-top: 30px;
}
.pagination {
  padding-top: 40px;
}
