
$fontfam: 'Montserrat';
$colorLeftSpan: #1F2041;

.default-text {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $fontfam;
}

.designation-bold {
  font-weight: bold;
  font-size: 12px;
  color: $colorLeftSpan;
  font-family: $fontfam;
  text-transform: uppercase;
}

.designation {
  font-family: $fontfam;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.fields {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    height: 44px;
    border-radius: 4px;
    padding: 0;
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
  }

  input::placeholder {
    font-size: 14px;
    text-indent: 15px;
    font-family: $fontfam;
  }
}