@import url(../secondary-section/preferences-button.scss);
@import url(../../blocks/gender-buttons/gender-buttons.scss);
@import url(../../blocks/special-offer-toggle/special-offer-toggle.scss);
@import url(../secondary-section/like-button.scss);
@import url(../../blocks/rate-buttons/rate-button.scss);

.upper-section__rate-button {
  padding-left: 126px;
  padding-top: 62px;
  width: 260px;
}
.checkbox-buttons {
  display: flex;
  flex-direction: column;
  height: 129px;
}
.gender-buttons {
  padding-top: 40.88px;
  height: 55px;
  display: flex;
  flex-direction: column;
}
.toggle {
  padding-top: 37px;
}
.like-button {
  padding-top: 40px;
}
.rate-button {
  padding-top: 40px;
}

