
.hoverfocus{
  padding-top: 20px;
}


.dropdown{
  padding-top: 20px;
}
.datepickerfield{
  padding-top: 22px;
}
.datedropdown {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filterdate{
  padding-top: 40px;
}

.subscription {
  padding-top: 41px;
}