div.bullet-list__info
  div.designation-bold bullet list
div.bullet-list__main
  ul.bullet-list__list
    li.bullet-list__subpoint
      span.bullet-list__point
      span.bullet-list__text-field Нельзя с питомцами
    li.bullet-list__subpoint
      span.bullet-list__point
      span.bullet-list__text-field Без вечеринок и мероприятий
    li.bullet-list__subpoint
      span.bullet-list__point
      span.bullet-list__text-field 
        | Время прибытия — после 13:00,
        br 
        | а выезд до 12:00
      
          
        
        
