include ../layouts-buttons/single-checkbox-style

div.checkbox-list__default-not-expanded
  .head 
    span.bold-designation.head__text expandable checkbox list
    span.checkbox-list__expand-more-not-expanded
  ul.checkbox-list__main-not-expanded
    li.checkbox-list__open-not-expanded
      