include ../layouts-buttons/single-checkbox-style

div.checkbox-list__default-not-expanded
  div.checkbox-list__info-not-expanded
    span.designation-bold expandable checkbox list
    span.checkbox-list__expand-more-not-expanded
  ul.checkbox-list__main-not-expanded
    li.checkbox-list__open-not-expanded
      