div.guest-dropdown__container1
  div.head 
    span.bold-designation.head__text dropdown
  include guests-dropdown
div.guest-dropdown__container2
  div.head 
    span.bold-designation.head__text dropdown
  include guests-dropdown