// раскомпоновать потом
ul.guest-dropdown__main
  li.guest-dropdown__selected
    div.guest-dropdown__description
      span.guest-dropdown__guest-number 
      span.guest-dropdown__guest-word Сколько гостей
      span.guest-dropdown__expand-more
    ul.caption-bold.guest-dropdown__open
      li взрослые
        div.guest-dropdown__first
          button.guest-dropdown__amount-less -
          span.guest-dropdown__amount-number 2
          button.guest-dropdown__amount-more +
      li дети
        div.guest-dropdown__second
          button.guest-dropdown__amount-less -
          span.guest-dropdown__amount-number 0
          button.guest-dropdown__amount-more +
      li младенцы
        div.guest-dropdown__thrid
          button.guest-dropdown__amount-less -
          span.guest-dropdown__amount-number 0
          button.guest-dropdown__amount-more +
      li
        div.guest-dropdown__fourth
          span.guest-dropdown__clear очистить
          span.guest-dropdown__apply применить
            