div.guest-dropdown__container1
  div.guest-dropdown__info
    span.caption-bold dropdown
  include guests-dropdown
div.guest-dropdown__container2
  div.guest-dropdown__info
    span.caption-bold dropdown
  include guests-dropdown