ul.dropdown__main-expanded
  li.selected-option-expanded
    div.caption__description-expanded
      span.room-number-expanded 2
      |  спальни,
      span.bed-number-expanded  2
      |  кровати...
      span.expand-more-expanded
    ul.caption-bold.dropdown__open-expanded
      li спальни
        div.dropdown__open__first-expanded
          button.dropdown__open__amount-less-expanded -
          span.dropdown__open__amount-number-expanded  2
          button.dropdown__open__amount-more-expanded +
      li кровати
        div.dropdown__open__second-expanded
          button.dropdown__open__amount-less-expanded -
          span.dropdown__open__amount-number-expanded  2
          button.dropdown__open__amount-more-expanded +
      li ванные комнаты
        div.dropdown__open__thrid-expanded
          button.dropdown__open__amount-less-expanded -
          span.dropdown__open__amount-number-expanded  2
          button.dropdown__open__amount-more-expanded +