div.dropdown-expanded
  div.room-info__dropdown-expanded
    .head
      span.bold-designation.head__text  dropdown
      span.normal-designation.caption__default default
    include room-info-dropdown-expanded
div.room-info
  div.room-info__dropdown
    .head
      span.bold-designation.head__text  dropdown
      span.normal-designation.caption__default default
    include room-info-dropdown