include room-details-style
.room-details__wrapper
  +roomWrapper("room-details__icon-row1","Комфорт","Шумопоглощающие стены")
  +roomWrapper("room-details__icon-row2","Удобство","Окно в каждой из спален")