ul.dropdown__main
  li.selected-option
    div.caption__description
      span.room-number 2
      |  спальни,
      span.bed-number  2
      |  кровати...
      span.expand-more
    ul.caption-bold.dropdown__open
      li спальни
        div.dropdown__open__first
          button.dropdown__open__amount-less -
          span.dropdown__open__amount-number  2
          button.dropdown__open__amount-more +
      li кровати
        div.dropdown__open__second
          button.dropdown__open__amount-less -
          span.dropdown__open__amount-number  2
          button.dropdown__open__amount-more +
      li ванные комнаты
        div.dropdown__open__thrid
          button.dropdown__open__amount-less -
          span.dropdown__open__amount-number  2
          button.dropdown__open__amount-more +