mixin roomWrapper(iconImage,textName,uderTextName)
  .room-details__rows
    span(class=iconImage)
    .room-details__row-info
      span.room-details__text #{textName}
      span.room-details__under-text #{uderTextName}
  hr.room-details__hr
  