div.dropdown-expanded
  div.room-info__dropdown-expanded
    div.dropdown__info-expanded
      span.caption-bold dropdown
      span.caption__default default
    include room-info-dropdown-expanded
div.room-info
  div.room-info__dropdown
    div.dropdown__info
      span.caption-bold dropdown
      span.caption__default default
    include room-info-dropdown