@import '../blocks/find-room-card/find-room.css';
@import '../blocks/booking-card/booking-card.css';
@import '../blocks/calendar/calendar.css';

.cards__wrapper{
  width: 1440px;
  height: 1350px;
  background: #F4F4F6;
}