@import '../blocks/find-room-card/find-room.css';
@import '../blocks/booking-card/booking-card.css';
@import '../blocks/calendar/calendar.css';
@import '../blocks/registration-card/registration-card.css';
@import '../blocks/sign-in-card/sign-in-card.css';
@import '../blocks/room-card/room-card.css';

.cards{
  width: 1440px;
  height: 1350px;
  background: #F4F4F6;
}
.cards__wrapper{
  height: 1060px;
  display: flex;
  padding: 72px 140px 140px;
}
.cards__wrapper__blocks{
  display: flex;
  flex-direction: column;
  height: 1060px;
  justify-content: space-between;
  padding-right: 40px;
}
.cards__wrapper__blocks1{
  display: flex;
  flex-direction: column;
  height: 910px;
  justify-content: space-between;
  padding-right: 40px;
}
.cards__wrapper__blocks2{
  display: flex;
  flex-direction: column;
  height: 963px;
  justify-content: space-between;
}