
.checkbox-list__default{
    width: 266px;
    height: 44px;
}
.checkbox-list__main{
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: -10px;
    position: relative;
    opacity: 0;
    background: white;
}
.checkbox-list__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 44px;
}
.checkbox-list__expand-more{
    width: 12px;
    height: 8px;
    padding: 18px 16px;
    bottom: 0px;
    right: 0px;
    position: relative;
    content: url("./checkbox-list-expand_more.svg");
}
.checkbox-list__open{
    display: flex;
    flex-direction: column;
}
.checkbox-list-container{
    padding-top: 10px;
}