include ../../../blocks/buttons/checkbox-preferences/single-checkbox-style

div.checkbox-list__default
  div.checkbox-list__info
    span.bold-designation expandable checkbox list
    span.checkbox-list__expand-more
  ul.checkbox-list__main
    li.checkbox-list__open
      +styleChanges("checkbox-list-container","Завтрак")
      +styleChanges("checkbox-list-container","Письменный стол")
      +styleChanges("checkbox-list-container","Стул для кормления")
      +styleChanges("checkbox-list-container","Кроватка")
      +styleChanges("checkbox-list-container","Телевизор")
      +styleChanges("checkbox-list-container","Шампунь")