include ../navigation


header.user-header
  .guest-header__logo
  +nav("О нас", "Услуги", "Вакансии", "Новости", "Соглашения")
  .guest-header__cherto4ka
  span.guest-header__user-name.default-text-05 Юлий Цезарь