mixin designation(lux, luxtext)
  .room-card__designation
    span.room-card__number-symbol №
    span.room-card__number 888
    #{lux} #{luxtext}
    span.room-card__price 9 990₽
    span.room-card__price-day в сутки