include room-card__slider
include room-card__expands
include room-card__designation
include ../rate-buttons/rate-button-stars

.room-card
  .room-card__picture.pict1
    +slider
  +designation
  hr.room-card__hr
  .room-card__rate
    +star("room1")
    span.room-card__rate-number 65
    span.room-card__rate-comment Отзывов