@mixin icon-style($image) {
  height: 40px;
  width: 40px;
  background-position: center;
  margin: 4px;
  background-image: $image;
}

.room-details__wrapper{
  width: 291px;
  display: flex;
  flex-direction: column;
}
.room-details__rows{
  display: flex;
  flex-direction: row;
  width: 291px;
}
.room-details__icon-row1{
  @include icon-style(url(./insert_emoticon.svg));
}
.room-details__icon-row2{
  @include icon-style(url(./location_city.svg));
}
.room-details__icon-row3{
  @include icon-style(url(./yut.svg));
}
.room-details__row-info{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: space-between;
}
.room-details__text{
  font-weight: 700;
}
.room-details__hr{
  width: 280px;
  height: 1px;
  margin: 20px 0;
  background: rgba(31, 32, 65, 0.1);
  border: 0;
}