mixin dateDropdown(text,text1,dText,dText1)
  div.datedropdown__input
      div.head
        span.bold-designation.head__text #{text}
      ul.datedropdown__main
        .datedropdown__text 
          span.default-text-075.datedropdown__sometext #{dText}
          span.datedropdown__exp
  div.datedropdown__input
      div.head
        span.bold-designation.head__text #{text1}
      ul.datedropdown__main
        .datedropdown__text 
          span.default-text-075.datedropdown__sometext #{dText1}
          span.datedropdown__exp